@font-face
{
  font-family: 'batman';
    src: url('./batmfa__.ttf');
}

body
{
  background-image:url("../assets/fond.png");
  min-height:100%;
  margin:0;
  padding:0;
}

header
{
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

#logo
{
  float:left;
  height:33px;
  margin-top:3px;
  margin-left:7px;
}

header h1
{
  text-align:center;
  position:relative;
  color: black;
  top:-22px;
  color:;
  font-family: batman;
}

nav
{
  position: absolute;
  right:0;
  left:0;
  top:40px;
  height:15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  border-top:ridge black 3px;
  border-bottom:ridge black 2px;
}

nav ul.menu
{
  position:relative;
  bottom:17px;
  left:-20px;
}

nav ul.menu li
{
  display:inline;
  padding:0 4px 5px 4px;
  border-radius:0 0 10px 10px;
  border:ridge black 3px;
  border-top: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c40431+0,b1032c+44,9a0024+100 */
  background: #c40431; /* Old browsers */
  background: -moz-linear-gradient(top,  #c40431 0%, #b1032c 44%, #9a0024 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #c40431 0%,#b1032c 44%,#9a0024 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #c40431 0%,#b1032c 44%,#9a0024 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40431', endColorstr='#9a0024',GradientType=0 ); /* IE6-9 */

}
nav ul.menu li a:link,nav ul.menu a:visited
{
  color:black;
  text-decoration:none;
  font-variant:all-small-caps;
  padding:0 4px 20px 4px;
}
nav ul.menu li:hover
{
  padding-bottom:10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#da0436+0,c50330+44,aa0028+100 */
  background: #da0436; /* Old browsers */
  background: -moz-linear-gradient(top,  #da0436 0%, #c50330 44%, #aa0028 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #da0436 0%,#c50330 44%,#aa0028 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #da0436 0%,#c50330 44%,#aa0028 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da0436', endColorstr='#aa0028',GradientType=0 ); /* IE6-9 */

}

footer
{
  position:absolute;
  bottom:0;  
  right:20px;
}

footer p
{
  color:#333333;
  font-variant:all-small-caps;
  font-size:10pt;
}