@font-face {
    font-family: 'upheaval';
    src: url('./Upheaval.fon'),
         url('./upheavtt.ttf');
}

@font-face
{
  font-family: 'batman';
    src: url('./batmfa__.ttf');
}

body
{
  background-color:black;
}
header
{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

header h1
{
  text-align:center;
  position:relative;
  color: black;
  top:-22px;
  color:;
  font-family: batman;
}

aside
{
  position:absolute;
  background-color:lightgrey;
  left:0;
  top:40px;
  bottom:0;
  width: 150px;
}

aside nav ul
{
  display:inline;
  position:relative;
  left: 38px;
  bottom:20px;
}

aside nav ul li
{
  list-style-type:none;
  
}

aside nav ul li a:link
{
  color:black;
  text-decoration:none;
  font-family:upheaval;
}